* {
	box-sizing: border-box;

}
html,
body {
	height: 100%;
}

input[type=text] {
	width: 100%;
	height: 30px;
}

table td {
	font-size: 12px;
}

.search-col,
.sequencer-col {
	float: left;
	height: 100%;
	padding: 20px;
}

.search-col {
	width: 25%;
}

.sequencer-col {
	width: 75%;
}

.tracks {
	counter-reset: track;
	position: relative;
	padding: 0 0 100px;
	border-bottom: 1px solid #eee;
	border-radius: 10px;
}

.tracks .help {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 100px;
	font-size: 42px;
	font-style: italic;
	color: #bbb;
}

.tracks-hover .help {
	color: #333;
}

.track {
	position: relative;
	background: #fafafa;
	border: 1px solid #eee;
	border-radius: 10px;
	padding: 0 40px 5px 60px;
	margin: 0 0 2px;
}

.track h2 {
	font-size: 14px;
	line-height: 1;
	margin: 0 0 5px;
}

.track:before {
	counter-increment: track;
	content: counter(track);
	position: absolute;
	top: 5px;
	left: 5px;
	width: 45px;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,.4);
	background: #888;
	color: #fff;
	border-radius: 50px;
}

.track ~ .track:before {
	background: none;
	color: #333;
}

.track:after {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 18px;
	line-height: 25px;
	color: #aaa;
	content: 'BPM: ' attr(data-bpm);
}

.toggle {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	font-size: 12px;
	padding: 0;
	text-align: center;
	cursor: pointer;
	border-radius: 2px;
	background: -webkit-linear-gradient(#444,#333);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.3), inset 0 2px 0 rgba(255,255,255,.3);
	color: #fff;
}

.remove {
	position: absolute;
	top: 32px;
	left: 5px;
}

.pattern {
	margin: 10px 0 5px;
	border-radius: 2px;
}

.pattern:after {
	display: block;
	content: "";
	clear: both;
	font-size: 11px;
	color: #aaa;
}

.loading .pattern {
	padding: 0 5px;
}
.loading > .pattern:after {
	content: 'Loading...';
}

.pattern b {
	float: left;
	width: 6.25%;
	height: 20px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.3), inset 0 2px 0 rgba(255,255,255,.3);
	background: #006db4;
	border-radius: 2px;
}

.pattern b:hover {
	opacity: .5;
	/*cursor: pointer;*/
}

.main-pattern {
	min-height: 20px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.3);
}

.all-beats b {
	margin: 0 1px 1px 0;
}

.details {
	/*display: none;*/
}

.popover {
	width: 300px;
}